# every singe one of them
gtnh-docker/.env

# not just the vscodes
.vscode/*

# but the minecraft,
gtnh-docker/gtnh-server/minecraft/*
!gtnh-docker/gtnh-server/minecraft/config/OpenComputers.cfg
 
# and the zips too
*.zip
